<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let result of notification| async" lines="none">

            <ion-card routerLink="/tab/user-report" >
              <ion-card-header>
                <ion-card-title color="tertiary">User Report</ion-card-title>
                <ion-card-subtitle>
                  Dear Admin, {{result.userName}} has submit {{result.reportType}} report.
                  Click for more information
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-card-subtitle>
                  {{ result.createdAt }}
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
