<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-button routerLink="/tab/notification">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">User Account</ion-title>

    <ion-buttons slot=end>
      <ion-button routerLink="/auth/login">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let detail of userAccount | async">
      <ion-col>
          <ion-grid>
            <ion-row class=ion-padding-top>
              <ion-col size=3 [routerLink]="['/tab/user-account/more-info/', detail.userId]">
                <ion-avatar>
                  <img *ngIf="detail?.userImage" [src]="detail.userImage">
                  <img *ngIf="!detail?.userImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col>
                <ion-row [routerLink]="['/tab/user-account/more-info/', detail.userId]">
                  <ion-col>
                    <ion-row>
                      <ion-label>{{ detail.name }}</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-label color="tertiary">{{ detail.email }}</ion-label>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
