<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-button routerLink="/tab/notification">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/tab/vet">
        <ion-icon name="paw-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Timeline Post</ion-title>

    <ion-buttons slot=end>
      <ion-button routerLink="/auth/login">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="newsfeed" scrollable>
      <ion-segment-button value="newsfeed">
        <ion-label>
          News Feed
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="lostpet">
        <ion-label>
          Lost Pet
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="donation">
        <ion-label>
          Fund Raiser
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-grid  *ngIf="segment === 'newsfeed'">
    <ion-row *ngFor="let detail of feedList | async">
      <ion-col>
        <ion-card>
          <ion-grid *ngIf="detail.adminApprove === 'Pending'">
            <ion-row [routerLink]="['/tab/timeline-post/feed-detail/', detail?.postId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.postImage" [src]="detail.postImage">
                  <img *ngIf="!detail?.postImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="tertiary">Pending</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : News Feed Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="detail.adminApprove === 'Approved'">
            <ion-row [routerLink]="['/tab/timeline-post/feed-detail/', detail?.postId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.postImage" [src]="detail.postImage">
                  <img *ngIf="!detail?.postImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="success">Approved</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : News Feed Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="detail.adminApprove === 'Disapproved'">
            <ion-row [routerLink]="['/tab/timeline-post/feed-detail/', detail?.postId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.postImage" [src]="detail.postImage">
                  <img *ngIf="!detail?.postImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="danger">Disapproved</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : News Feed Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf="segment === 'lostpet'">
    <ion-row *ngFor="let detail of lostPetList | async">
      <ion-col>
        <ion-card>
          <ion-grid *ngIf="detail.adminApprove === 'Pending'">
            <ion-row [routerLink]="['/tab/timeline-post/lostpet-detail/', detail?.lostPetId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.petImage" [src]="detail.petImage">
                  <img *ngIf="!detail?.petImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="tertiary">Pending</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : Lost Pet Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="detail.adminApprove === 'Approved'">
            <ion-row [routerLink]="['/tab/timeline-post/lostpet-detail/', detail?.lostPetId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.petImage" [src]="detail.petImage">
                  <img *ngIf="!detail?.petImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="success">Approved</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : Lost Pet Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="detail.adminApprove === 'Disapproved'">
            <ion-row [routerLink]="['/tab/timeline-post/lostpet-detail/', detail?.lostPetId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.petImage" [src]="detail.petImage">
                  <img *ngIf="!detail?.petImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="danger">Disapproved</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : Lost Pet Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf="segment === 'donation'">
    <ion-row *ngFor="let detail of donationList | async">
      <ion-col>
        <ion-card>
          <ion-grid *ngIf="detail.adminApprove === 'Pending'">
            <ion-row [routerLink]="['/tab/timeline-post/donation-detail/', detail?.donationId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.donationImage" [src]="detail.donationImage">
                  <img *ngIf="!detail?.donationImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="tertiary">Pending</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : Donation / Fund Raiser Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="detail.adminApprove === 'Approved'">
            <ion-row [routerLink]="['/tab/timeline-post/donation-detail/', detail?.donationId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.donationImage" [src]="detail.donationImage">
                  <img *ngIf="!detail?.donationImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="success">Approved</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : Donation / Fund Raiser Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="detail.adminApprove === 'Disapproved'">
            <ion-row [routerLink]="['/tab/timeline-post/donation-detail/', detail?.donationId]">

              <ion-col size=3>
                <ion-avatar>
                  <img *ngIf="detail?.donationImage" [src]="detail.donationImage">
                  <img *ngIf="!detail?.donationImage" src="../../../../assets/user.jpeg">
                </ion-avatar>
              </ion-col>

              <ion-col size=8>
                <ion-row>
                  <ion-col>
                    <ion-label color="danger">Disapproved</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Post Category : Donation / Fund Raiser Post</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label>Posted on : {{ detail.date }}</ion-label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button fill="clear" color="dark" class="ion-no-padding">More Info</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
