.error-message{
  color: red;
}

ion-header{
  font-family: 'AbeeZee' !important;
}

ion-content{
  font-family: 'AbeeZee' !important;
}

.upload {
  background:none;
  font-size: 19px;
  border:none;
  cursor: pointer;
}
