<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar>
    <ion-tab-button tab="timeline-post">
      <ion-icon [name]="selectTab === 'timeline-post' ? 'newspaper' : 'newspaper-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="adoption-post">
      <ion-icon [name]="selectTab === 'adoption-post' ? 'paw' : 'paw-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new-product-post">
      <ion-icon [name]="selectTab === 'new-product-post' ? 'bag-check' : 'bag-check-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="user-account">
      <ion-icon [name]="selectTab === 'user-account' ? 'people' : 'people-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="user-report">
      <ion-icon [name]="selectTab === 'user-report' ? 'alert-circle' : 'alert-circle-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
